In [ ]:
ls

# Plan:

1. load the data into pandas dataform (done)
2. reformat it as the way we want

In [23]:
import pandas as pd
import numpy as np

In [ ]:
#from datetime import datetime

#headers = ['col1', 'col2', 'col3', 'col4'] 
#dtypes = [datetime, datetime, str, float] 

# pd.read_csv(file, sep='\t', header=None, names=headers, dtype=dtypes)

In [11]:
df = pd.read_csv('./data1.csv', parse_dates=True)

In [12]:
df.head(3)

               tagname                 time  value1  value2
0  FL02.X05_Z4105.f_CV  12/12/2016 09:00:30    5.90    0.16
1  FL02.X05_Z4105.f_CV  12/12/2016 09:01:30    5.10    0.45
2  FL02.X05_Z4105.f_CV  12/12/2016 09:02:30    5.11    0.55

In [13]:
df

               tagname                 time  value1  value2
0  FL02.X05_Z4105.f_CV  12/12/2016 09:00:30    5.90    0.16
1  FL02.X05_Z4105.f_CV  12/12/2016 09:01:30    5.10    0.45
2  FL02.X05_Z4105.f_CV  12/12/2016 09:02:30    5.11    0.55
3  FL02.X05_Z4104.f_CV  12/12/2016 09:00:30    6.87    0.44
4  FL02.X05_Z4104.f_CV  12/12/2016 09:01:30    6.88    0.34
5  FL02.X05_Z4104.f_CV  12/12/2016 09:02:30    6.89    0.92
6  FL02.X05_Z4103.f_CV  12/12/2016 09:00:30    4.67    0.96
7  FL02.X05_Z4103.f_CV  12/12/2016 09:01:30    4.77    0.90
8  FL02.X05_Z4103.f_CV  12/12/2016 09:02:30    4.78    0.27

In [14]:
df.columns

Index([u'tagname', u'time', u'value1', u'value2'], dtype='object')

In [15]:
df['time'].dtype

dtype('O')

## Split the data in 3 group

In [16]:
df1 = df[ df['tagname'] == 'FL02.X05_Z4105.f_CV']

In [17]:
df1

               tagname                 time  value1  value2
0  FL02.X05_Z4105.f_CV  12/12/2016 09:00:30    5.90    0.16
1  FL02.X05_Z4105.f_CV  12/12/2016 09:01:30    5.10    0.45
2  FL02.X05_Z4105.f_CV  12/12/2016 09:02:30    5.11    0.55

In [26]:
df_grouped = df.groupby('tagname')

In [28]:
df_grouped.agg()

TypeError: agg() takes at least 2 arguments (1 given)

In [31]:
tag_names = df['tagname'].unique()

In [32]:
tag_names

array(['FL02.X05_Z4105.f_CV', 'FL02.X05_Z4104.f_CV', 'FL02.X05_Z4103.f_CV'], dtype=object)

In [41]:
tag_names = df['tagname'].unique() # gets the unique tag names
data_dic = {}

for name in tag_names: # use the unique name to assemble a dictionary, with name as key, value as selected data
    # print(name)
    data_dic[name] = df[ df['tagname'] == name]
    
data_dic

{'FL02.X05_Z4103.f_CV':                tagname                 time  value1  value2
 6  FL02.X05_Z4103.f_CV  12/12/2016 09:00:30    4.67    0.96
 7  FL02.X05_Z4103.f_CV  12/12/2016 09:01:30    4.77    0.90
 8  FL02.X05_Z4103.f_CV  12/12/2016 09:02:30    4.78    0.27,
 'FL02.X05_Z4104.f_CV':                tagname                 time  value1  value2
 3  FL02.X05_Z4104.f_CV  12/12/2016 09:00:30    6.87    0.44
 4  FL02.X05_Z4104.f_CV  12/12/2016 09:01:30    6.88    0.34
 5  FL02.X05_Z4104.f_CV  12/12/2016 09:02:30    6.89    0.92,
 'FL02.X05_Z4105.f_CV':                tagname                 time  value1  value2
 0  FL02.X05_Z4105.f_CV  12/12/2016 09:00:30    5.90    0.16
 1  FL02.X05_Z4105.f_CV  12/12/2016 09:01:30    5.10    0.45
 2  FL02.X05_Z4105.f_CV  12/12/2016 09:02:30    5.11    0.55}

In [36]:
dummy_dic = {
    'FL02.X05_Z4105.f_CV': 100,
    'FL02.X05_Z4104.f_CV': 200,
    'FL02.X05_Z4103.f_CV': df
}

In [42]:
data_dic['FL02.X05_Z4103.f_CV']

               tagname                 time  value1  value2
6  FL02.X05_Z4103.f_CV  12/12/2016 09:00:30    4.67    0.96
7  FL02.X05_Z4103.f_CV  12/12/2016 09:01:30    4.77    0.90
8  FL02.X05_Z4103.f_CV  12/12/2016 09:02:30    4.78    0.27

In [48]:
len(data_dic)

3